@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-size: 0.85rem;
}

.navbar {
   background-color: rgb(13, 110, 253) !important;
}

.navbar-brand, .navbar-text {
    font-size: 1rem;
    color: white;   
}

.navbar-brand {
    font-weight: bold;
}

.navbar-text {
    opacity: 0.5;
} 

.table {
    font-size: 0.85rem;
}

.btn-sm {
    font-size: 0.75rem;
}

#files-table tbody {
    font-family: 'Roboto', sans-serif;
}

#files-table .date-modified,
#files-table .embedded {
    opacity: 0.5;
}

.card-body {
    padding-top: 1rem;
}

/* DataTables specific styles */
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
    font-size: 0.85rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.25rem 0rem;
}

/* New rule for delete buttons */
#files-table .delete-btn {
    font-family: 'Open Sans', sans-serif;
    font-size: .85rem;
}

.bi-trash {
   opacity: 0.5; 
}
